In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('recipes.db')

# Create a cursor object
c = conn.cursor()

In [4]:
# Create a table for recipes
c.execute('''CREATE TABLE IF NOT EXISTS recipes
             (id INTEGER PRIMARY KEY, name TEXT UNIQUE)''') #unique to ensure you can't double up on values - add this to the other tables

# Create a table for ingredients
c.execute('''CREATE TABLE IF NOT EXISTS ingredients
             (id INTEGER PRIMARY KEY, name TEXT)''')

# Create a table for quantities
c.execute('''CREATE TABLE IF NOT EXISTS quantities
             (recipe_id INTEGER, ingredient_id INTEGER, amount REAL,
              FOREIGN KEY(recipe_id) REFERENCES recipes(id),
              FOREIGN KEY(ingredient_id) REFERENCES ingredients(id))''')


# Create a table for inventory
c.execute('''CREATE TABLE IF NOT EXISTS inventory
             (ingredient_id INTEGER, amount REAL,
              FOREIGN KEY(ingredient_id) REFERENCES ingredients(id))''')

In [16]:
def execute_read_query(query, conn=conn):
    c=conn.cursor()
    result=None
    try:
        c.execute(query)
        result=c.fetchall()
        return result
    except Error as e:
        print("The error '{e}' occurred")

In [5]:
c.execute("INSERT INTO recipes (name) VALUES ('Low Carb Lasagne')")
c.execute("INSERT INTO recipes (name) VALUES ('Jalfrezi')")

In [22]:
def execute_insert(table:str,column:str,values:list, conn=conn):
    c=conn.cursor()
    result=None
    try:
        for value in values:
            query = f"INSERT INTO {table} ({column}) VALUES ('{value}')"
            print(query)
            c.execute(query)
    except Error as e:
        print(f'The error {e} occurred')
    conn.commit()

def execute_value_deletion(table:str, column:str, value:str, conn=conn):
    c=conn.cursor()
    result=None
    query = f"DELETE FROM {table} WHERE {column} = '{value}'"
    print(query)
    c.execute(query)
    conn.commit()

In [25]:
execute_value_deletion(table='ingredients', column='name', value='Chicken')

DELETE FROM ingredients WHERE name = 'Chicken'

In [69]:
execute_insert(table='ingredients', column='name', values=['Chicken','Turmeric'])

INSERT INTO ingredients (name) VALUES ('Chicken')
INSERT INTO ingredients (name) VALUES ('Turmeric')

In [ ]:
c.execute("INSERT INTO ingredients (name) VALUES ('Onions')")
c.execute("INSERT INTO ingredients (name) VALUES ('Carrots')")
c.execute("INSERT INTO ingredients (name) VALUES ('Garlic')")
c.execute("INSERT INTO ingredients (name) VALUES ('5% Beef Mince')")
c.execute("INSERT INTO ingredients (name) VALUES ('Tomato Puree')")
c.execute("INSERT INTO ingredients (name) VALUES ('Chopped Tomatoes')")
c.execute("INSERT INTO ingredients (name) VALUES ('Butter')")
c.execute("INSERT INTO ingredients (name) VALUES ('Plain Flour')")
c.execute("INSERT INTO ingredients (name) VALUES ('Skimmed Milk')")

In [26]:
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 1, 2)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 2, 2)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 3, 1)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 4, 665)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 5, 30)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 6, 430)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 7, 35)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 8, 30)")
c.execute("INSERT INTO quantities (recipe_id, ingredient_id, amount) VALUES (1, 9, 430)")

In [27]:
conn.commit()

In [40]:
recipe_name = 'Low Carb Lasagne'

# Get the recipe id from the recipes table

c.execute("SELECT id FROM recipes WHERE name = ?", (recipe_name,))
recipe_id = c.fetchone()[0]

In [50]:
c.execute("SELECT * FROM quantities LIMIT 0")

# Fetch the description of the cursor object
description = c.description

# Extract the column names from the description
column_names = [col[0] for col in description]

# Print the column names
print(column_names)

['recipe_id', 'ingredient_id', 'amount']

In [5]:
c.execute("SELECT * FROM ingredients LIMIT 0")

# Fetch the description of the cursor object
description = c.description

# Extract the column names from the description
column_names = [col[0] for col in description]

# Print the column names
print(column_names)

['id', 'name']

In [56]:
execute_read_query("SELECT * FROM recipes")

[(1, 'Low Carb Lasagne'), (2, 'Jalfrezi')]

In [28]:
execute_read_query("SELECT * FROM ingredients")

[(1, 'Onions'),
 (2, 'Carrots'),
 (3, 'Garlic'),
 (4, '5% Beef Mince'),
 (5, 'Tomato Puree'),
 (6, 'Chopped Tomatoes'),
 (7, 'Butter'),
 (8, 'Plain Flour'),
 (9, 'Skimmed Milk')]

In [52]:
# Define the name of the recipe you want to check
recipe_name = 'Low Carb Lasagne'

# Get the recipe id from the recipes table
c.execute("SELECT id FROM recipes WHERE name = ?", (recipe_name,))
recipe_id = c.fetchone()[0]

In [53]:

c.execute("SELECT ingredients.name, quantities.amount FROM quantities INNER JOIN ingredients ON quantities.ingredient_id = ingredients.id WHERE recipe_id = ?", (recipe_id,))
recipe_ingredients = c.fetchall()

In [14]:
recipe_ingredients

NameError: name 'recipe_ingredients' is not defined

In [55]:
recipe_ingredients = {name: amount for name, amount in recipe_ingredients}
recipe_ingredients

{'Onions': 2.0,
 'Carrots': 2.0,
 'Garlic': 1.0,
 '5% Beef Mince': 665.0,
 'Tomato Puree': 30.0,
 'Chopped Tomatoes': 430.0,
 'Butter': 35.0,
 'Plain Flour': 30.0,
 'Skimmed Milk': 430.0}